.footer {
  color: #545454;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__copyright {
  margin: 60px 0;
}

@media screen and (max-width: 640px) {

  .footer__copyright {
    font-size: 14px;
    padding-left: 20px;
  }
}