.header {
  margin: 45px auto 0;
  height: 74px;
  border-bottom: #545454;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  max-width: 880px;
  width: 100%;
  padding: 0 0 0 20px;
}

.header__logo {
  width: 173px;
  height: 33px;
}
