.header {
  margin: 45px auto 0;

  border-bottom: rgba(84, 84, 84, 0.7);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  max-width: 880px;
  width: 100%;
  padding: 0 0 20px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 640px) {
  .header {
    max-width: unset;
    width: auto;
    padding-left: 20px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}
