<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Araund the U.S</title>
    <link rel="shortcut icon" href="./favicon.ico" />
    <meta name="description" content="Photo Blog" />
    <meta name="keywords" content="photo, social, blog" />
    <meta name="author" content="ANDRES LAUSON" />
  </head>
  <body class="page">
    <div class="page__content">
      <header class="header">
        <img
          class="header__logo"
          src="<%= require('./images/logo-white.svg')%>"
          alt="araund the us white logo"
        />
      </header>
      <main class="content">
        <section class="profile page__section">
          <div class="profile__avatar_container">
            <img
              class="profile__image"
              src="<%= require('./images/jacques-cousteau.jpg')%>"
              alt="avatar"
              id="avatar-image"
            />
            <img
              class="profile__image_edit"
              src="<%= require('./images/pencil.svg')%>"
              alt="avatar edit pencil"
              id="edit-avatar-image"
            />
          </div>
          <div class="profile__info">
            <h1 class="profile__title">Jacques Cousteau</h1>
            <button
              class="profile__edit-button"
              id="profile-edit-button"
              type="button"
            ></button>
            <p class="profile__description">Explorer</p>
          </div>
          <button
            id="add-newCard-button"
            class="profile__add-button"
            type="button"
          ></button>
        </section>
        <section class="cards page__section">
          <ul class="cards__list"></ul>
        </section>
      </main>
      <footer class="footer page__section">
        <p class="footer__copyright">&copy;2022 Around The U.S</p>
      </footer>
    </div>
    <!-- EDIT PROFILE POPPUP -->
    <div class="popup" id="profile-edit-popup">
      <div class="popup__container">
        <button
          class="popup__close"
          id="edit-close-button"
          type="button"
        ></button>
        <p class="popup__heading">Edit Profile</p>
        <form class="popup__form" name="profile-edit-form">
          <label class="popup__label">
            <input
              id="profile-title-input"
              class="popup__form-input"
              placeholder="Name"
              type="text"
              name="name"
              minlength="2"
              maxlength="40"
              required
            />
            <span class="popup__error" id="profile-title-input-error"></span>
          </label>
          <label class="popup__label">
            <input
              id="profile-description-input"
              placeholder="Description"
              class="popup__form-input"
              type="text"
              name="description"
              minlength="2"
              maxlength="200"
              required
            />
            <span
              class="popup__error"
              id="profile-description-input-error"
            ></span>
          </label>
          <button class="popup__button" type="submit">Save</button>
        </form>
      </div>
    </div>
    <!-- ADD NEW CARD POPUP -->
    <div class="popup" id="add-NewCard-popup">
      <div class="popup__container">
        <button
          class="popup__close"
          id="addNewCard-close-button"
          type="button"
        ></button>
        <p class="popup__heading">New place</p>
        <form class="popup__form" name="new-card-form">
          <label class="popup__label">
            <input
              id="new-image-title-input"
              class="popup__form-input"
              placeholder="Title"
              type="text"
              name="name"
              minlength="1"
              maxlength="40"
              required
            />
            <span class="popup__error" id="new-image-title-input-error"></span>
          </label>
          <label class="popup__label">
            <input
              id="new-image-link-input"
              placeholder="Image link"
              class="popup__form-input"
              type="url"
              name="link"
              required
            />
            <span class="popup__error" id="new-image-link-input-error"></span>
          </label>
          <button
            class="popup__button popup__button_disabled"
            type="submit"
            disabled
          >
            Create
          </button>
        </form>
      </div>
    </div>
    <!-- PREVIEW IMAGE POPUP -->
    <div class="popup" id="previewImage-popup">
      <div class="popup__container popup__container_type_preview">
        <button
          class="popup__close popup__close_type_preview-image"
          id="previewImage-close-button"
          type="button"
        ></button>
        <p class="popup__image-title"></p>
        <img src="" alt="" class="popup__preview-image" />
      </div>
    </div>
    <!-- CARD TEMPLATE -->
    <template id="card-template">
      <li class="card">
        <img class="card__image" src="" alt="" />
        <button
          class="card__delete-button"
          id="card-delete-button"
          type="button"
        ></button>
        <div class="card__description">
          <h2 class="card__title"></h2>
          <button class="card__like-button" type="button"></button>
        </div>
      </li>
    </template>
    <!-- DELETE CONFIRMATION POPUP -->
    <div class="popup" id="deleteConfirm-popup">
      <div class="popup__container">
        <button
          class="popup__close"
          id="deleteConfirm-close-button"
          type="button"
        ></button>
        <form name="deleteConfirm-form" class="popup__form">
          <p class="popup__heading">Delete Image?</p>
          <button
            class="popup__button"
            id="delete-confirm-button"
            type="submit"
          >
            YES
          </button>
        </form>
      </div>
    </div>
    <!-- EDIT AVATAR POPUP -->
    <div class="popup" id="edit-avatar-popup">
      <div class="popup__container">
        <button
          class="popup__close"
          id="edit-avatar-close-button"
          type="button"
        ></button>
        <form name="update-avatar-form" class="popup__form">
          <p class="popup__heading">Change profile picture</p>
          <label class="popup__label">
            <input
              id="new-avatar-link-input"
              placeholder="New avatar link"
              class="popup__form-input"
              type="url"
              name="link"
              required
            />
            <span class="popup__error" id="new-avatar-link-input-error"></span>
          </label>
          <button
            class="popup__button popup__button_disabled"
            type="submit"
            disabled
          >
            Save
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
